.infinite-scroller {
  width: 100%;
  overflow-x: clip;
  height: calc(49.79px + .55px + .55px);
  position: relative;
  margin-top: -27px;
  transform: rotate(-1.98deg);
  box-shadow: 0px 2.21px 11.06px -0.55px rgba(0, 0, 0, 0);
  
  .image {
    inset: 0;
    background-image: url('../../img/pinnertexture.png');
    background-size: cover;
    opacity: 0.5;
    position: absolute;
    filter: blur(20px);
    z-index: 0;
  }
  
  .overlay {
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
    backdrop-filter: blur(20px);
    position: absolute;
    z-index: 2;
  }
  
  .content {
    display: flex;
    align-items: center;
    height: 100%;
    position: absolute;
    border: 0.30px solid rgba(255, 255, 255, 0.2);
    z-index: 4;
    left: -153.56px;
  }
  
  .content ul {
    height: 100%;
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 1.6572em;
    text-transform: uppercase;
    font-size: clamp(1.66rem,
      calc(1.66rem + (3 - 1.66) * ((100vw - 390px) / (1440 - 390))),
      3rem);
    font-family: Ondo;
    font-weight: 500;
    z-index: 2;
  }

  ul li {
    display: flex;
    align-items: center;
    gap: 1.081em;
  }

  ul p {
    text-wrap: nowrap;
  }

  ul li svg {
    max-width: unset;
  }
}