.live-demo-card {
  width: 33.2em;
  height: 44.9078em;
  border-radius: .836em;
  border-width: 0.84px;
  padding-inline: 1.5em;
  padding-top: 1.673em;
  border: 0.84px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 3.35px 16.73px -0.84px rgba(0, 0, 0, 0);
  border: 0.84px solid rgba(255, 255, 255, 0.2);
  position: relative;
  font-size: clamp(1rem, 0.9vw, 1.198rem);

  .texture {
    position: absolute;
    inset: 0;
    filter: opacity(.07);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%), url('../../img/pinnertexture.png');
    background-size: cover;
    z-index: -1;
  }

  >.background {
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
    background-size: cover;
    z-index: -2;
  }

  .character-image {
    width: 30.189em;
    height: 22.161em;
    object-fit: cover;
    border-radius: 8.36px;
    border-width: 0.84px;
    position: relative;
    z-index: 1;
  }

  .type {
    margin-top: 2.5em;
    position: relative;
    z-index: 1;
  }

  .type>h3 {
    font-family: Lato;
    font-weight: 500;
    font-size: 2.007em;
    line-height: 1.11;
    letter-spacing: 0.0135em;
    vertical-align: middle;
    text-transform: capitalize;
  }

  .character-info {
    display: flex;
    margin-top: 1.5em;
    gap: 1em;
  }

  .character-info img {
    height: 4.432em;
    width: 4.432em;
    border-radius: 2em;
  }

  .character-info .wrap h4 {
    font-family: Lato;
    font-weight: 500;
    font-size: 1.505em;
    line-height: 1.11;
    letter-spacing: 0.035em;
  }

  .character-info .wrap p {
    margin-top: .642em;
    font-family: Lato;
    font-weight: 400;
    font-size: .836em;
    line-height: 1.11;
    letter-spacing: 0.035em;
  }

  .button {
    margin-top: 2.174em;
    margin-inline: .6em;
  }

}