.section-four {
  position: relative;
  padding-inline: clamp(3.1rem, 7.44vw, 10rem);
  overflow-x: hidden;

  .testimonials-cards {
    display: flex;
    margin-top: clamp(50px, 13vw, 80px);
    width: fit-content;
    gap: 31px;
  }

  @media (min-width: 800px) {
    .testimonials-cards {
      justify-self: center;
    }
  }

  .bottom-indicator {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: clamp(47px, 12vw, 77px);
    margin-bottom: clamp(95px, 24.42vw, 150px);
  }

  .bottom-indicator .wrap {
    display: flex;
    align-items: center;
    gap: 12.38px;
  }

  .bottom-indicator .wrap span {
    height: 13.5px;
    width: 13.5px;
    background-color: var(--clr-30);
    border-radius: 10px;
  }

  .bottom-indicator .wrap :nth-child(3) {
    height: 22.5px;
    width: 22.5px;
    background-image: url('../../img/texture.png');
    background-size: cover;
    border-radius: 10px;
  }
}