.section-two {
  .head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
    padding-inline: 28px;
    padding-bottom: clamp(4px, 1vw, 40px);
    width: 100%;
  }

  .head h2 {
    font-family: Ondo;
    font-weight: 800;
    font-size: clamp(34.29px,
        calc(34.29px + (66 - 34.29) * ((100vw - 390px) / (1440 - 390))),
        66px);
    line-height: 1.11;
    letter-spacing: 0.04em;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    max-width: clamp(334px, 85.65vw, 800px);
  }

  .head p {
    margin-top: 12px;
    font-family: Lato;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.72;
    letter-spacing: 0.04em;
    text-align: center;
    vertical-align: middle;
    max-width: clamp(334px, 85.65vw, 500px);
  }


  .body .scrollable-contents {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: clip;
  }

  .body .scrollable-contents .contents {
    display: flex;
    width: fit-content;
    align-items: center;
    gap: clamp(12px, 3vw, 30px);
    margin-top: 20px;
  }

  .body .scrollable-contents .contents .sneak-peek {
    display: flex;
    width: clamp(232.31px, 50vw, 451.13px);
    height: clamp(188.96px, 40vw, 366.969px);
  }

  .body .scrollable-contents .contents .sneak-peek.normal-game {
    /* width: fit-content; */
    border-radius: 5.78px;
    border-width: 0.58px;
    border-image: url('./texture.png') 20;
    border-radius: 5.78px;
    overflow: hidden;
  }

  .body .scrollable-contents .contents .main-game {
    max-width: unset;
    width: clamp(330px, 70vw, 708.49px);
    height: clamp(230.11px, 70vw, 494.03px);
  }

  .body .scrollable-contents .contents #curren-sneak-peak-title {
    transform: translate(115px, 97%);
    font-family: Ondo;
    font-weight: 800;
    font-size: 13.07px;
    line-height: 1.11;
    letter-spacing: 0.04em;
    text-transform: uppercase;
  }

  .body .scrollable-contents .contents #curren-sneak-peak-logo {
    transform: translate(156px, 5%);
  }

  .body .scrollable-contents .contents> :first-child.sneak-peek {
    display: flex;
    justify-content: right;
    margin-top: 53px;
  }

  .body .scrollable-contents .contents> :first-child.sneak-peek img {
    object-fit: cover;
    object-position: right;
    width: 100%;
  }

  .body .scrollable-contents .contents :last-child.sneak-peek img {
    object-fit: cover;
    object-position: left;
    width: 100%;
  }

  .body .scrollable-contents .contents :last-child.sneak-peek {
    margin-top: 30px;
  }


  .body .cto {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: clamp(10px, 5vw, 72px);
    gap: clamp(10px, 1.2vw, 16px);
  }
}